<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Nuxeo OSGI Core Server Platform" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.nuxeo.osgi.core.server.opencmis.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.web.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.base.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.equinox.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.h2.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.opencmis.sdk.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.web.sdk.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.base.sdk.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.equinox.sdk.feature.group" version="5.4.1.201103172359"/>
<unit id="org.nuxeo.osgi.core.server.h2.sdk.feature.group" version="5.4.1.201103172359"/>
<repository location="http://localhost/p2/core-server/current/repository"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
