<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Nuxeo OSGI SDK Platform">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.nuxeo.osgi.libs" version="5.4.1.201103041039"/>
<repository location="http://osgi.nuxeo.org/p2/libs/current/repository/"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
